@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    font-family: 'Pushster', cursive;
}

nav{
    width: fit-content;
    background-image:  linear-gradient(to left bottom, #fbb040, #ef4136);
    -webkit-background-clip: text;
    background-clip: text;    /* Compatiblity */
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

div img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.first{
    float:left ;
    width: 33%;
    display: block;
    justify-items: center;
    color: black;
}

.second{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.third{
    float:right;
    width: 33%;
    justify-items: center;
    color: black;
}

.fourth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.fifth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.sixth{
    float:right;
    width: 33%;
    justify-items: center;
    color: black;
}

.seventh{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.eight{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.nineth{
    float:right;
    width: 33%;
    justify-items: center;
    color: black;
}

.tenth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.eleventh{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.twelth{
    float:right;
    width: 33%;
    justify-items: center;
    color: black;
    display: block;
}
