@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
body{
    background-color: antiquewhite;
    font-family: 'Pushster', cursive;
}

nav{
    background-color:rgb(240, 59, 95);
    font-size: 23px;
    display: block;
}

div img{
    height: 4rem;
    width: 4rem;
}

.first{
    float:left ;
    width: 33%;
    display: block;
    justify-items: center;
    color: black;
}

.second{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.third{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.fourth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.fifth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.sixth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.seventh{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.eight{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.nineth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.tenth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.eleventh{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
}

.twelth{
    float:left;
    width: 33%;
    justify-items: center;
    color: black;
    display: block;
}
