@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    font-family: 'Pushster', cursive;
}

nav{
    width: fit-content;
    background-image:  linear-gradient(to left bottom, #fbb040, #ef4136);
    -webkit-background-clip: text;
    background-clip: text;    /* Compatiblity */
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

div img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

a{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.first{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.second{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.third{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.fourth{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.fifth{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.sixth{
	display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.seventh{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.eight{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.nineth{
	display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.tenth{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.eleventh{
    display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}

.twelth{
	display: grid;
    border-radius: 50%;
    color: black;
    justify-content: space-around;
}
